<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트 페이지</title>
</head>

<style>
  .layout {
      width : 500px;
      margin : 0 auto;
      margin-top : 40px;
  }
  table, th, td {
        border: 1px solid #bcbcbc;
      }
  td {
    text-align: center;
  }
</style>

<body>
  <div class="layout">
    <table border="1" align="center">
      <thead>
        <tr>
          <th>글번호</th>
          <th>제목</th>
        </tr>
      </thead>
      <tbody>
          <tr th:each="board : ${List}">
            <td th:text="${board.id}">1</td>
            <td>
                <a th:text="${board.title}" th:href="@{/board/view(id=${board.id})}"></a>
            </td>
          </tr>
      </tbody>
    </table>
      <!-- 페이징 블럭 처리 thymeleaf 추가 -->
     <nav style="text-align: center;">
        <th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">
            <a th:if="${page != nowPage}" th:href="@{/board/list(page = ${page - 1})}" th:text="${page}"></a>
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"></strong>
        </th:block>
     </nav>

  </div>
</body>
</html>